.font-size-48px{
    font-size: 48px;
}

.white-text{
    color: white;
}


.hyperlink-black{
    color:#61332f;
}

.red-bg{
    background-color: #cf393d;
}

.black-bg{
    background-color: black;
}