html, body{
    margin:0;
    background-color:white;
    font-family: 'Roboto', cursive;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}





.my_container{
  display: table;
    width: 100%;
    height: 100%;
}




/*Commmon utilized css code for re-centering, styling etc */
.example {
    padding: 20px;
    color: white;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }




/* **************************************** */

/* ******************Navigation bar ********************* */

.float-right-nav{
    float: right;
    
}



/* *********************************************** */

/* **************** Home page ******************** */



/* ************************************************ */

/* **************** Search by category section ******************* */



/* *************************************************** */
/* **************** Menu ******************* */

.menu-links{
    text-decoration: none !important;
}




/* *************************************************** */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:5px solid black; 
    text-align: center;
}