<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Look Inna Book</title>
    <!--personal css styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personalStyle.css') }}">
    <!-- colour css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colours.css') }}">
    <!-- Font-awesome-all.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css') }}">
    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.css') }}">   

</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('store') }}">Store</a>
                </li>
                
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Look Inna Book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if username == 'guest' %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('login') }}">Login</a>
                    </li>
                
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" >Hello {{ username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('cart') }}">Cart</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if username == 'guest' %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <header>
                    <h1>SORRY GUESTS CANNOT CHECKOUT</h1>
                </header>
                <img src="{{ url_for('static', filename='pictures/cryingtonton.gif') }}" alt="placeholder 960" class="img-responsive" />
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    {% else %}
        {% if len_books == 0  %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <header>
                        <h1>YOU HAVE AN EMPTY CART</h1>
                    </header>
                    <img src="{{ url_for('static', filename='pictures/empty_cart.png') }}" alt="placeholder 960" class="img-responsive" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        {% else %}
            {% for i in range(len_books) %}
            <div class="container">
                    <form method = "POST">
                            <table style="width:100%" class="table">
                                <tr>
                                    <th>Title</th>
                                    <th>isbn</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    
                                    <td>{{ showbooks[i].title }}</td>
                                    <td>{{ showbooks[i].isbn }}</td>
                                    <td>{{ showbooks[i].price }}</td>
                                
                                    <td>
                                        <input class="btn btn-secondary" name="add_to_cart"  type="submit" value="Delete" id="{{ showbooks[i].id }}">
                                        <input type="hidden" name="bookisbn" value="{{ showbooks[i].isbn }}">
                                        <input type="hidden" name="bookid" value="{{ showbooks[i].book_id }}">
                                    </td>
                                    
                                </tr>
                            </table>   
                    </form>
            </div>            
            {% endfor %}
        {% endif %}        
    {% endif %}
    

    <section id="footer">
            <footer class="footer foot-style bg-dark">
                <p">&copy; Look Inna Book</p>
            </footer>
    </section> 

    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>