<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Look Inna Book</title>
    <!--personal css styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personalStyle.css') }}">
    <!-- colour css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colours.css') }}">
    <!-- Font-awesome-all.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css') }}">
    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.css') }}">   

</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('store') }}">Store</a>
                </li>
                
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Look Inna Book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if username == 'guest' %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('login') }}">Login</a>
                    </li>
                
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" >Hello {{ username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('cart') }}">Cart</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <header>
                    <h1>Thank you for the purchase</h1>
                </header>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>