<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Look Inna Book</title>
    <!--personal css styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personalStyle.css') }}">
    <!-- colour css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colours.css') }}">
    <!-- Font-awesome-all.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css') }}">
    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.css') }}">   

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('store') }}">Store</a>
                </li>
               
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Look Inna Book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">   
                                <label>First name</label>
                                <div class="col">
                                <input type="text" class="form-control" placeholder="First name">
                                </div>
                            </div>
                            <div class="form-group col-md-6">   
                                <label>Last name</label>
                                <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Username</label>
                            <input type="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Email Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Ex. JasonSmith@gmail.com">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                            <label>streetnumber</label>
                            <input type="text" class="form-control" placeholder="#">
                            </div>
                            <div class="form-group col-md-9">
                            <label for="inputPassword4">Street name</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Street name">
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Province</label>
                            <input type="text" class="form-control" id="province">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">PostalCode</label>
                            <input type="text" class="form-control" id="postalcode">
                        </div>
                        </div>
                    
                        <button type="submit" class="btn btn-secondary">Complete Sign Up</button>
                    </form>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>        

    </main>

    <section id="footer">
            <footer class="footer foot-style bg-dark">
                <p">&copy; Look Inna Book</p>
            </footer>
    </section> 

    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>